@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

@font-face {
  font-family: 'tropika';
  src: url('/fonts/Tropika.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.font{
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font2{
  font-family: "Kapakana", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* 
.bgimg{
  background-image: url('../public/rope2.png');
  background-position: top;
  background-size: cover;
} */

/* .imgcat1{
  background-image: url('../public/img1.jpg');
  background-position: top;
  background-size: cover;
  height: 95%;
  width: 15%;
  z-index: 10;
} */

.back2{
  background: #EAFFEB;
  background: linear-gradient(180deg, rgba(234, 255, 235, 1) 20%, rgba(149, 185, 255, 1) 80%);
}

.font3{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font4{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.font5{
  font-family: "Trocchi", serif;
  font-weight: 400;
  font-style: normal;
}

.box1{
  /* background: #f0d58b;
  background: linear-gradient(333deg, rgba(240, 213, 139, 1) 0%, rgba(252, 135, 25, 1) 80%); */
  /* background: #ffbe85;
background: linear-gradient(333deg, rgba(255, 190, 133, 1) 10%, rgba(255, 103, 15, 1) 80%); */
background: #22C1C3;
background: linear-gradient(333deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.box2{
  /* background: #9df08b;
background: linear-gradient(333deg, rgba(157, 240, 139, 1) 0%, rgba(64, 161, 85, 1) 80%); */
/* background: #ff8585;
background: linear-gradient(320deg, rgba(255, 133, 133, 1) 10%, rgba(255, 15, 15, 1) 80%); */
background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.box3{
  /* background: #8bb3f0;
  background: linear-gradient(333deg, rgba(139, 179, 240, 1) 0%, rgba(25, 63, 252, 1) 80%); */
  background: #ffbe85;
background: linear-gradient(333deg, rgba(255, 190, 133, 1) 10%, rgba(114, 226, 255, 1) 80%);
}


.gallery-container {
  width: 85%;
  padding: 20px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if you use modern browsers */
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

.gallery-image {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.03);
}




.btn-grad {background-image: linear-gradient(to right, #FDFC47 0%, #24FE41  51%, #FDFC47  100%)}
.btn-grad {
   /* margin: 10px; */
   /* padding: 15px 45px; */
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   /* color: white;             */
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   /* color: #fff; */
   text-decoration: none;
 }

 .doodle {
  /* background-image: url('../public/tl.webp');
  background-position: center;
  background-size: contain;
  background-color: rgba(236, 236, 236, 0.5);
  background-blend-mode: overlay; */

 /* background-color: #ED1C28; */
 }
 





@media only screen and (max-width:600px){
  .gallery-container {
    width: 100%;
    padding: 10px;
  }
  
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if you use modern browsers */
    display: -ms-flexbox;
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: auto;
  }
  
  .my-masonry-grid_column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
  }
  
  .gallery-image {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .gallery-image:hover {
    transform: scale(1.03);
  }
  
}