@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.font{
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font2{
  font-family: "Kapakana", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}